body{
    margin: 0;
    padding: 0;
}
*{
    text-decoration: none;
    list-style: none;
}
.navbar{
    background-color: #2a3c42;
}
.navbar ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
    padding: 20px 25px;
    margin: 0;
}
.navbar ul li a{
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
}
.register{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register .inputBox{
    display: block;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    outline: none;
}
.submit-btn{
    display: block;
    padding: 10px 25px;
    margin: 15px 0;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    background-color: lightblue;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 0;
    background-color: #2a3c42;
    position: absolute;
    bottom: 0;
    width: 100%;
}